@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Inter:wght@400;500;700&family=Kalam:wght@700&display=swap');

/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

@layer base {
  main {
    @apply z-10 relative mb-[350px] overflow-scroll
  }


  label {
    @apply font-handwriting uppercase text-xl tracking-tighter
  }

  label:has(+ input:placeholder-shown) {
    @apply text-3xl absolute top-8 left-8 pointer-events-none transition-all duration-300
  }

  label:has(+ input:focus),
  label:has(+ input) {
    @apply absolute top-2 left-2 text-xl
  }

  input[type="text"],
  input[type="password"],
  input[type="url"],
  input[type="number"],
  input[type="tel"],
  input[type="email"] {
    @apply font-sans text-2xl h-[100px] w-full px-7 border-black border-2
  }

  /* invalid label */
  label:has(+ input:invalid:not(:placeholder-shown)) {
    @apply text-white
  }

  /* invalid input */
  input:invalid:not(:placeholder-shown) {
    @apply bg-orangeRed border-fireEngineRed
  }

  svg {
    @apply fill-current
  }
}

@layer components {
  .indicator {
    @apply center h-6 w-6 rounded-full border-2
  }
}

@layer utilities {
  .center {
    @apply flex justify-center items-center
  }
}
