@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Inter:wght@400;500;700&family=Kalam:wght@700&display=swap');

/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

@layer base {
  svg {
    @apply fill-current
  }
}

@layer components {
  .indicator {
    @apply center h-6 w-6 rounded-full border-2
  }
}

@layer utilities {
  .center {
    @apply flex justify-center items-center
  }
}
